@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-rubik: "Rubik", sans-serif;

  --color-gray-50: #f2f2f3;
  --color-gray-100: rgb(153 156 159 / 0.18);
  --color-gray-600: #636669;
  --color-gray-800: #2c2e30;
  --color-gray-900: #0e0e0e;

  --color-yellow-primary: #B2DF28;
  --color-red-status: #ff1e00;
  --color-green-status: #00ff80;

  --color-dark-bg: #2c2e30;
  --color-dark-card: #3b3d3f;
  --color-card-bg: #0ad7f10a;
  --color-dark-border: #404244;
}

@layer base {
  body {
    font-family: var(--font-rubik);
    background-color: var(--color-dark-bg);
  }
}


.gradient-bg {
  background: RGBA(44, 46, 48, 1);
  background: linear-gradient(
    90deg,
    rgba(44, 46, 48, 1) 0%,
    rgba(14, 14, 14, 1) 36%
  );
}